* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background-color: #222222;
    padding: 17px 0 16px 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-right: 41px;
}

.header__right {
    display: flex;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}

.intro {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.intro__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background-image: url(img/man.png);
    background-repeat: no-repeat;
    background-position: -228px bottom;
}

.intro__text {
    max-width: 340px;
}

.bolt {
    font-size: 48px;
    width: 900px;
}

.fash {
    font-size: 26px;
}

.fash__color {
    color: #F16D7F;
}

.intro__text h1 {
    padding-left: 16px;
    border-left: 12px solid rgb(255, 119, 139);
}

.darkcard__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 66px;
}

.darkcard__card {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.darkcard__card:last-child {
    width: 100%;
}

.darkcard__img1 {
    background-image: url(img/darkwoman.jpg);
}

.darkcard__img2 {
    background-image: url(img/darkman.jpg);
}

.darkcard__img3 {
    background-image: url(img/darkkid.jpg);
}

.darkcard__img4 {
    background-image: url(img/darkshoes.jpg);
}

.darkcard__text {
    color: #FFFFFF;
    text-align: center;
}

.featured__items {
    text-align: center;
    margin-bottom: 48px;
}

.featured__heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.featured__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 15px;
}

.card__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.card {
    height: 580px;
    width: 360px;
    margin-bottom: 30px;
    background-color: #F8F8F8;
}

.card__text {
    width: 314px;
    height: 116px;
    margin: 25px 28px 20px 16px;
}

.mini__heading {
    margin-bottom: 12px;
}

.price {
    color: #F16D7F;
}

.browse__all {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.btn {
    padding: 14px 38px;
    color: #F26376;
    font-size: 16px;
    line-height: 19px;
    outline: 1px solid #FF6A6A;
}

.info__top {
    background-color: #222224;
    height: 341px;
}

.info__top-box {
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
}

.info__box {
    color: #FBFBFB;
    width: 360px;
    height: 134px;
    text-align: center;
}

.info__margin {
    margin-top: 16px;
    margin-bottom: 16px;
}

.info__bottom {
    background-image: url(img/info__bottom.jpg);
    background-position: center;
    height: 450px;
    background-repeat: no-repeat;
}

.info__subscribe {
    display: flex;
    justify-content: space-between;
}

.info__left {
    padding-top: 97px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 360px;
}

.face__margin {
    margin-bottom: 30px;
}

.footer {
    background-color: #222224;
    height: 80px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer__left {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.back__img {
    background-color: #F8F8F8;
    padding: 8px;
    margin-right: 4px;
}