.header {
    background-color: #222222;
    padding: 17px 0 16px 0;
    
    &__wrap {
    display: flex;
    justify-content: space-between;
    }

    &__logo {
    margin-right: 41px;
    }

    &__right {
    display: flex;
    align-items: center;
    }

    &__item:not(:last-child) {
    margin-right: 33px;
    } 
}

.basket--five {
    position: relative;
}

.five {
    position: absolute;
    background: #F16D7F;
    color: #FFFFFF;
    border-radius: 50%;
    top: -7px;
    left: 19px;
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}