@media (max-width: 1024px) {
    .container {
        max-width: 950px;
    }

    .card__overlay {
        height: 355px;
    }
}

@media (max-width: 768px) {
    .header__wrap {
        padding: 0 25px 0 25px;
    }

    .container {
        max-width: 734px;
    }

    .intro {
        height: 367px;
        margin-bottom: 20px;
    }

    .intro__wrap {
        background-size: contain;
        background-position: 0;
    }

    .intro__text {
        max-width: 313px;
    }

    .bolt {
        font-size: 44px;
    }

    .fash {
        font-size: 24px;
    }

    .darkcard__card {
        max-height: 167px;
        margin-bottom: 20px;
        background-size: cover;
    }

    .darkcard__card:last-child {
        max-height: 116px;
    }

    .darkcard__wrap {
        margin-bottom: 154px;
    }

    .card__box {
        justify-content: center;
        margin-bottom: 32px;
    }

    .card:nth-child(2n+1) {
        margin-right: 14px;
    }

    .card {
        margin-bottom: 17px;
        width: 49%;
    }

    .card__overlay {
        height: 420px;
    }

    .browse__all {
        margin-bottom: 65px;
    }

    .info__top-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .info__box:not(:last-child) {
        margin-bottom: 48px;
    }

    .info__bottom {
        background-position: inherit;
        height: 693px;
    }

    .info__subscribe {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info__left {
        padding-top: 53px;
        padding-bottom: 48px;
    }

    .info__right {
        right: 0;
        bottom: -40px;
    }

    .card__item {
        display: none;
    }

    .card__box {
        margin-bottom: 110px;
    }
}

@media (max-width: 700px) {
    .card:nth-child(2n+1) {
        margin-right: 0;
    }

    .card {
        width: 51%;
    }

    .container {
        max-width: 650px;
    }

    .product__info svg {
        max-width: 650px;
    }

    .card__overlay {
        height: 370px;
    }
}

@media (max-width: 600px) {
    .intro__wrap {
        background-image: none;
    }

    .intro__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 550px;
    }

    .darkcard__card {
        width: 100%;
    }

    .new__arrivals {
        flex-direction: column;
    }

    .product__info svg {
        max-width: 350px;
    }
}

@media (max-width: 375px) {
    // .container {
    //     max-width: 370px;
    // }

    .header__item:not(:nth-child(1)) {
        display: none;
    }

    .header__item:not(:last-child) {
        margin-right: 0;
    }

    .intro__text {
        max-width: 262px;
    }

    .bolt {
        font-size: 38px;
    }

    .fash {
        font-size: 20px;
    }

    .intro {
        margin-bottom: 64px;
    }

    .darkcard__card {
        margin-bottom: 32px;
        max-height: 247px;
    }

    .darkcard__wrap {
        margin-bottom: 32px;
    }

    .card {
        width: 100%;
    }

    .card__box {
        margin-bottom: 22px;
    }

    .card__overlay {
        height: 401px;
    }

    .browse__all {
        margin-bottom: 96px;
    }

    .info__bottom {
        height: 550px;
    }

    .info__margin {
        font-size: 20px;
    }

    .info__box p {
        font-size: 14px;
    }

    .info__left p {
        font-size: 18px;
    }

    .font__weight {
        font-size: 14px;
    }

    .footer__box {
        flex-direction: column-reverse;
    }

    .footer__box {
        padding-top: 43px;
    }

    .footer__left {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .product__info svg {
        max-width: 170px;
    }

    .product__details__item1 {
        font-size: 10px;
    }

    .product__details__item2 {
        font-size: 10px;
    }

    .product__details__item3 {
        font-size: 10px;
    }

    .product--561 {
        padding-bottom: 32px;
    }

    .menu__dropdown {
        margin-top: 50px;
        margin-bottom: 64px;
    }

    .product__women {
        padding-bottom: 0;
        font-size: 14px;
    }

    .product__text {
        padding-top: 32px;
    }

    .product__details1 {
        left: -186px;
    }

    .product__details3 {
        left: 73px;
    }

    .new__arrivals {
        padding-top: 24px;
    }

    .breadcrumb {
        padding-top: 32px;
    }

    .product__info--MOSCHINO {
        font-size: 18px;
    }

    .filter b {
        display: none;
    }

    .filter svg {
        width: 37px;
        height: 25px;
    }

    .card__details1 {
        right: 275px;
        font-size: 12px;
    }

    .card__details2 {
        font-size: 12px;
        right: 140px;
    }

    .card__details3 {
        font-size: 12px;
        right: 80px;
    }
}